{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="container d-flex flex-column align-items-center mt-5">
    <h1>Dashboard</h1>
    <div class="row w-100 justify-content-center">
        <div class="col-md-6">
            <div class="card mb-4">
                <div class="card-header">
                    <h3>Objekte</h3>
                </div>
                <div class="card-body">
                    <ul>
                        {% for objekt in objekte %}
                        <li>{{ objekt.name }} - {{ objekt.address }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-4">
                <div class="card-header">
                    <h3>Finanzübersicht</h3>
                </div>
                <div class="card-body">
                    <p>Gesamtsumme der Miete: {{ gesamtsumme_miete }}€</p>
                    <p>Gesamtsumme der Kosten: {{ gesamtsumme_kosten }}€</p>
                    <p>Gewinn/Verlust: {{ gewinn_verlust }}€</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row w-100 justify-content-center mt-4">
        <div class="col-md-10">
            <div class="card mb-4">
                <div class="card-header">
                    <h3>Chart</h3>
                </div>
                <div class="card-body">
                    {{ chart|safe }}
                </div>
            </div>
        </div>
    </div>
    <a href="{% url 'objekte' %}" class="btn btn-primary mt-3">Zurück zur Liste</a>
</div>
{% endblock %}
